img{
	margin: 0px;
    padding: 0px;	
}
li {
    float: left;
}

a {
    display: block;
    width: 60px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: black;
    background-color: white;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #7A991A;
}