img{
	margin: 50px;
    padding: 50px;	
	
}

a {
    display: block;
    width: 60px;
}

a:link, a:visited {
	
    display: block;
    width: 120px;
    font-weight: bold;
    color: black;
    background-color: white;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #7A991A;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  float: right;
}
form {
margin: 20px;
padding: 20px;
}




